/* Tablet (576px+) */
@media (min-width: 576px){

    header{
        position: fixed;
        display: flex;
        width: 100%;
        height: 10%;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        z-index: 100;
    }
    .form{width: 50%;}

    body{background-color: rgb(0, 0, 0);}

    input, textarea{width: 100%;}

    button{width: 100%;}
}

/* Medium tablet (768px+) */
@media (min-width: 768px){
    header{
        position: fixed;
        display: flex;
        width: 100%;
        height: 10%;
        flex-direction: row;
        justify-content: space-around;
        background-color: transparent;
        z-index: 100;
    }

    .logo{font-size: 1.5rem;}

    .links{display: flex;flex-direction: row;}

    .links a{font-size: 2.1rem;}

    .home-img{margin-top: 13rem;}

    .content-title{font-size: 3rem;}

    .home-content p{font-size: 2.5rem;}

    .title{font-size: 3rem;}

    .project-card{width: 100%;height: 350%;font-size: 2.5rem;}

    .form{width: 50%;}

    input, textarea{height: 4rem;font-size: 2.5rem;font-family: 'Ubuntu', sans-serif;font-weight: 700;}

    button{width: 100%;font-size: 2.5rem;height: 200%;}
}

/* Large tablet (992px+) */
@media (min-width: 992px){

    .links a{
        font-size: 2.8rem;
        color: white;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
    }

    .form{width: 50%;}

    input, textarea{width: 100%;}

    button{width: 100%;}
}

/* Desktop (1200px+) */
@media (min-width: 1200px){

    .logo{font-size: 1.5rem;}

    .links{
        gap: 5rem;
    }

    .links a{
        font-size: 1.8rem;
        color: white;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
    }

    #home{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 19rem 6% 19rem;
        border: 0;
    }

    .home-img{
        display: flex;
        height: auto;
        width: 25%;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .home-content{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .home-img img{
        width: 100%;
        margin: 0;
    }
    .home-content h1{
        font-size: 5rem;
    }

    .home-content p{
        font-size: 1.8rem;
    }
    .title{
        font-size: 2rem;
    }

    #projects{padding: 20% 0 30% 0; align-items: center; border: none;}

    .projects-flex{
        display: flex;
        align-items: center;
    }

    .project-card{
        width: 50%;
    }

    .project-card p{
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
    }

    .project-card a{
        width: 40%;
    }

    #cambio, #verMas{
        width: 30%;
        font-size: 1.5rem;
        height: 20%;
    }

    .btn{
        display: flex;
        gap: 5rem;
    }

    input, textarea{
        min-height: 5rem;
        min-width: 65%; 
        font-size: 1.8rem; 
        max-width: 45%; 
        max-height: 3rem;
    }

    button{width: 45%; font-size: 1.8rem;}

    .form{width: 50%;}

}

/* Large desktop (1400px+) */
@media (min-width: 1400px){
    header{justify-content: space-between; padding: 0 4%; position:fixed;}

    .logo h1{font-size: 3.5rem;}

    .links a{font-size: 2rem;}

    #home{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 19rem 9% 19rem;
        border: 0;
    }
    .home-content{
        width: 50%;
    }

    .home-content p{font-size: 3rem;}

    .project-card{font-size: 3rem;}

    .links{gap: 6rem;}

    .home-img{
        height: 400px;
        width: 50%;
        margin: 0;

    }
    .home-img img{
        width: 60%;
    }

    .content-title h1{
        font-size: 7rem;
    }

    .home-content p{
        font-size: 2rem;
    }

    #projects{padding: 20% 0 30% 0; align-items: center; border: none;}

    .projects-flex{
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .project-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        padding: 2rem;
        font-size: 1rem;
        height: 50rem;
    }

    .project-card h3{
        font-size: 2.5rem;
    }
    .project-card p{
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
    }
    .project-card a{
        width: 50%;
        font-size: 2.5rem;
    }

    #cambio , #verMas{
        width: 30%;
    }

    input, textarea{
        min-height: 3rem;
        min-width: 45%; 
        font-size: 1.8rem; 
        max-width: 45%; 
        max-height: 3rem;
    }

    button{width: 45%; font-size: 1.8rem;}

    .title{
        font-size: 2rem;
    }
}