#home{
    height: auto;
    width: 100%;
    padding: 5rem 9% 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-bottom: 3px solid #00bbff;
}

.home-content h1{
    font-size: 1.5rem;
}

span{
    color: #00bbff;
}

.home-content p{
    font-size: 1.2rem;
    text-align: justify;
}
.home-img{
    display: flex;
    justify-content: center;
    width: auto;
    height: 220px;
}

.home-img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px #00bbff;
    cursor: pointer;
    transition: 0.2s linear;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #00bbff;
    box-shadow: 0  0 25px #00bbff;
}

@media(min-width: 1601px){
    input, textarea{
        min-width: 25%;
    }
}